{% extends "base.html" %}

{% block title %}Procedure Details{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center mt-4">Procedure Details</h2>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Procedure Information</h5>
            <p><strong>Procedure Type:</strong> {{ procedure.procedure_type.name }}</p>
            <p><strong>Patient:</strong>
                <a href="{{ url_for('patients.view_patient', patient_id=procedure.patient.patient_id) }}">
                    {{ procedure.patient.first_name }} {{ procedure.patient.last_name }}
                </a>
            </p>
            <p><strong>Operator:</strong>
                <a href="{{ url_for('operators.view_operator', operator_id=procedure.operator.operator_id) }}">
                    {{ procedure.operator.first_name }} {{ procedure.operator.last_name }}
                </a>
            </p>
            <p><strong>Body Region:</strong> {{ procedure.body_region.name }}</p>
            <p><strong>Brand:</strong> {{ procedure.brand }}</p>
            <p><strong>Procedure Date:</strong> {{ procedure.procedure_date }}</p>
            <p><strong>Price (€):</strong> {{ procedure.price }}</p>
        </div>
    </div>


    <a href="{{ url_for('procedures.list_procedures') }}" class="btn btn-secondary mt-3">Back to Procedures</a>
</div>
{% endblock %}
